@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.info{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
	background-color: white;
	font-family: 'NanumSquare', sans-serif;
}