$point: #ffc14d;

.ModalOverlay {
    background: #202024c0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordModal-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #353332e1;
    padding: 40px;
    border-radius: 1rem;
    position: relative;
    height: 380px;
    background: var(--background-color);
    box-shadow: 0 10px 10px rgba(31, 30, 30, 0.432);

    h2 {
        font-size: 1.77rem;
        margin-top: 0;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px 0;
        text-indent: 16px;
        font-size: 18px;
        border: transparent;
        border-bottom: 2px solid $point;
        margin: 1rem 0 5px 0;
        color: var(--text-whitecolor);
        transition: 0.6s;
        outline: 2px solid $point;
        background-color: transparent;
        border-bottom: 2px solid transparent;

        &:hover {
            transition: 0.8s;
            background-color: #2e303398;
        }

        &:focus {
            border: none;
            outline: none;
            border-bottom: 2px solid $point;
        }
    }

    p {
        font-weight: 700;
        align-self: flex-start;

        & + input {
            margin-top: 0;
        }
    }

    button {
        background: var(--point-color);
        border-radius: 4px;
        color: var(--background-color);

        &:hover {
            background: lighten($point, 10%);
        }

        &:active {
            background: darken($point, 10%);
        }
    }

    .change-btn {
        position: absolute;
        width: 80px;
        top: 388px;
        right: 130px;
        margin-right: 7px;
    }
    .cancle-btn {
        position: absolute;
        width: 80px;
        top: 388px;
        right: 40px;
    }
}
