@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.Visual{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
	background-color: white;
	font-family: 'NanumSquare', sans-serif;
}
.Log{
    width:60%;
    position: absolute;
    bottom:20px;
    margin-left: 40px;
    height: 25%;
    background-color: blue;
    display: none;
}
.add_res{
    position: absolute;
    right:0;
    top:0;
    margin-top:120px;
    margin-right: 15px;
    width:20%;
    background-color: red;
    height: 60%;
    display: none;
}
.ResourceData{
    position: absolute;
    right:0;
    top:0;
    margin-top:120px;
    margin-right: 15px;
    width:20%;
    background-color: red;
    height: 60%;
    display: none;
}
circle.node {
	cursor: pointer;
	stroke: #34495e;
	stroke-width: 2px;
	box-sizing: border-box;
	font-family: 'NanumSquare', sans-serif;
}

line.link {
	fill: none;
	stroke: #34495e;
	stroke-width: 1.5px;
}

#log{
    background-color: white;
    width:100%;
    height: 200px;
    overflow-y: scroll;
}

select{
	width:100px;
}