@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.Visual{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
	background-color: white;
	font-family: 'NanumSquare', sans-serif;
}
circle.node {
	cursor: pointer;
	stroke: #34495e;
	stroke-width: 2px;
	box-sizing: border-box;
	font-family: 'NanumSquare', sans-serif;
}

line.link {
	fill: none;
	stroke: #34495e;
	stroke-width: 1.5px;
}