@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.Visual{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
	background-color: #27262b;
	font-family: 'NanumSquare', sans-serif;
}
.toolbut{
    text-align: right;
}
.toolbut button{
    margin:2px;
}

.time{
    position: absolute;
    right:0;
    bottom:0;
    width:240px;
    height: 100px;
}
.refresh{
    width:50px;
    height:50px;
}

circle.node {
	cursor: pointer;
	stroke: #34495e;
	stroke-width: 2px;
	box-sizing: border-box;
	font-family: 'NanumSquare', sans-serif;
}

line.link {
	fill: none;
	stroke: #34495e;
	stroke-width: 1.5px;
}
