$darkGray: #25272b;
$lightGray: #27262b;
$point: #7d9edf;
$text: #6b6e7c;
$lightText: #9298b1;
$cardColor: #232429;

.Modal {
    top: 20px;
    right: 40px;
    width: 100px;
    height: 50px;
    background-color: $point;
    position: absolute;
    overflow: hidden;
}
.fade.modal.show {
    background: #202024a4;
    overflow: hidden;
}

div .modal-content {
    background-color: rgb(31, 31, 34);
    border-radius: 14px;
    padding: 10px;
    border: 4px solid #353332e1;
    box-shadow: 5px 10px 15px rgba(21, 21, 24, 0.9);
    width: 80% !important;
    min-width: 550px;
    margin: 0 auto;
}

.modal-header .modal-title {
    color: $point;
}

.modal-content .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-header .close {
    color: #9298b1;
    text-shadow: none;
    font-size: 2rem;
}
.modal-header .close:hover {
    color: #9298b1;
    text-shadow: none;
}
.modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    color: #cfcfcf;
}

.modal-body .form-control {
    background-color: rgb(31, 31, 34);
    border: 2px solid $point;
    color: #cfcfcf;
    border-radius: 0;
}
.modal-body .form-control:focus {
    background-color: rgb(31, 31, 34);
    color: #cfcfcf;
    outline: none;
    border: 1px solid $point;
}

.modal-content .modal-footer {
    border-top: none;
}

.modal-footer .btn-warning {
    background-color: $point;
    border-radius: 0.4rem;
    width: 100px;
    border: none;
}
.modal-footer .btn-warning:hover {
    background-color: $point;
}
