$darkGray: #25272b;
$lightGray: #27262b;
$point: #7d9edf;
$text: #6b6e7c;
$lightText: #9298b1;
$cardColor: #232429;

.password-title {
    margin-bottom: 20px;
    width: 100%;
}
.text {
    width: 100%;
    margin-bottom: 0;
    margin-top: 1rem;
}

.password-input {
    display: block;
    width: 100%;
    padding: 6px 0;
    text-indent: 14px;
    font-size: 18px;
    border: transparent;
    border-bottom: 2px solid $point;
    margin: 0.5rem 0 5px 0;
    color: $point;
    transition: 0.6s;
    outline: 2px solid $point;
    background-color: transparent;
    border-bottom: 2px solid transparent;

    &:hover {
        transition: 0.8s;
        background-color: #2e303398;
    }

    &:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid $point;
    }
}

.modal__footer-container {
    & .modal__footer--button:first-child {
        margin-right: 10px;
    }

    .modal__footer--button {
        width: 80px;
    }
}
