@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
$darkGray: #25272b;
$lightGray: #27262b;
$point: #7d9edf;
$text: #6b6e7c;
$lightText: #9298b1;
$cardColor: #232429;

.Visual {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: $darkGray;
    font-family: "NanumSquare", sans-serif;
}
.toolbut {
    text-align: right;
}
.toolbut button {
    margin: 2px;
}

.time {
    position: absolute;
    left: -60px;
    bottom: 25px;
    z-index: 999;
}
.refresh {
    background: $point;
    color: $darkGray;
    border: none;
    color: transparent;
    z-index: 999;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.4rem;
}

.refresh:hover {
    box-sizing: border-box;
    padding: 0;
    color: #fff;
}

.refresh .icon {
    font-size: 39px;
    margin: 0;
}

circle.node {
    cursor: pointer;
    stroke: #34495e;
    stroke-width: 2px;
    box-sizing: border-box;
    font-family: "NanumSquare", sans-serif;
}

line.link {
    fill: none;
    stroke: #34495e;
    stroke-width: 1.5px;
}
