$darkGray : #18181f;
$lightGray : #27262b;
$point : #ffc14d;
$text : #6b6e7c;
$lightText : #9298b1;

a{
  text-decoration: none !important;
  color: $lightText;
}
body {
  position: relative;
}

.sidemenu-container{
    
    z-index: 999;
    background: $darkGray;
    height: 100%;
    width: 15vw;
    box-shadow: 5px 5px 10px rgba(31, 30, 34, 0.76);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;

    & + div{
      position: relative;
      height: 100%;
      background: $darkGray;
    }

    li{
      text-decoration: none;
      color : $lightText;
    }
}

.sidemenu{
  background: $darkGray;
  color : $text;
  height: 100%;
  position: relative;

  & .sidemenu-title{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding-top: .7rem;
  }

  & hr{
    border: 1px solid rgba(150, 149, 149, 0.205);
    width: 70%;
    margin-bottom: 20px;
  }

  & ul {
    margin: 0 auto;
  }

  & li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid transparent;
    transition: linear 0.2s;
    width: 90%;
    margin: 0 auto;

    
    &:hover{
      // border: 1px solid #ffc14d;
      background: rgba(37, 42, 53, 0.651);
      transition: linear 0.2s;
      color: rgb(236, 236, 236);
      
      .material-icons{
        color : $point;
        transition: .2 linear;
      }
    }

    p {
      margin-left: 10px;
      margin-bottom: 0;
      text-align: center;  

    }

  }

  li + li {
    margin-top: 5px;
  }

  .menu{

    transition: .2 linear;
    & p{
      font-size: 15px;
      cursor: pointer;
        &:hover{
          transition: .2s linear;
        }

    }

    & .menulist-in{
      font-weight: 700;
      font-size: 15px;
      transition: .4s linear;
      margin-top: 10px;
      text-indent: 36px;
      
      &:hover{
        color : $point;
      }
      
      &::before{
        content: ' ';
        width: 12px;
        height: 12px;
        position: absolute;
        left: 25px;
        z-index: 11;
        background-color: rgba(59, 56, 92, 0.212);
      }
    }
    & .submenu {
      text-indent: 57px;
      font-size: 13px;
      &:hover{
        color : $point;
      }
    }
  }

}
