$darkGray: #18181f;
$lightGray: #27262b;
$point: #ffc14d;
$text: #6b6e7c;
$lightText: #9298b1;

@media screen and (min-width: 1320px) {
    .left-chart {
        min-width: 432px;
        width: 40%;
    }
    
    .right-chart {
        min-width: 528px;
        width: 60%;
        
    }
} 

@media screen and (max-width: 1319px) {
    .left-chart, .right-chart {
        width: 100%;
    }    
    
}

.dashboard-page {
    width: 100%;
    position: relative;
    height: auto;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    border-radius: 1rem;
    padding: 20px;
    box-sizing: border-box;
    float: right;
    background: transparent !important;
    min-height: 90% !important;
    margin-top: 5vh;
    height: auto !important;
    margin-top: 2vh;
}

.dashboard-option {
    width: 15%;
    float: right;

    & .select__option--options.form-control {
        border: 2px solid #ffc14d;
        background: transparent;
        color: #6b6e7c;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.resource-list {
    .text-muted {
        margin-top: 5px;
    }
}

.card-body {
    margin-bottom: 10px;
    background: #212125;
    height: 100px;
    padding: 15px;

    & + & {
        margin-left: 10px;
    }
}

.compute-list {
    display: flex;
    flex-direction: row;
    min-width: 50%;

    & .compute {
        width: 50%;
    }
}
.chart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    & h3 {
        font-size: 15px;
        margin-top: 10px;
        text-indent: 5px;
    }
}

NumberWidget + NumberWidget {
    margin-right: 30px;
}

.progress {
    background-color: #353741;
    width: 100%;
}

.justify-content-between {
    width: 100%;
    justify-content: space-between !important;
}
