$darkGray: #25272b;
$lightGray: #27262b;
$point: #7d9edf;
$text: #6b6e7c;
$lightText: #9298b1;
$cardColor: #232429;
pre {
    color: $lightText;
}
button:focus {
    outline: none;
}
.modal-90w {
    width: 90%;
    max-width: 90% !important;
    min-width: 90% !important;
}

.listview-title {
    color: $point;
    margin: 0 auto;
    padding-top: 2.4rem;
    float: right;
    width: 83%;
    font-size: 1.75rem;
    font-weight: 500;
}

table {
    height: 100%;
}

.table {
    background: transparent !important;
    margin: 0;
    border-top-left-radius: 1rem;
    font-family: "NanumSquare", sans-serif !important;

    & thead th {
        background-color: $cardColor;
    }
    th,
    td {
        padding: 0;
        vertical-align: middle !important;
        text-align: center;
        padding-left: 5px;
        color: $lightText;
        border: none;
        font-family: "NanumSquare", sans-serif !important;
    }
    th {
        width: 10%;
        text-align: center;
    }

    td {
        text-align: center;
        width: 10%;
    }
    td + td {
        text-align: center;
    }

    #header {
        background: $point;
        min-height: 0.8rem;
    }

    #tableTitle,
    .MuiTypography-subtitle1 {
        color: $darkGray;
        padding-left: 0.8rem;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        font-family: "NanumSquare", sans-serif !important;
    }

    .MuiTableCell-paddingCheckbox {
        text-align: left;
        padding-left: 1rem;
        width: 3%;
    }

    .MuiPaper-root {
        background: #212125;
        color: $point;
    }

    .MuiSvgIcon-root {
        color: $point;
    }

    .MuiIconButton-label {
        color: #18181f;
    }

    #icons {
        color: #18181f;
    }

    .MuiCheckbox-colorSecondary.Mui-checked {
        color: $point;
    }

    .MuiTableContainer-root {
        max-height: 80vh;
        min-height: 700px;
    }

    .MuiTableRow-root.Mui-selected,
    .MuiTableRow-root.Mui-selected:hover {
        background-color: #292933;
    }
    .MuiTableSortLabel-root.MuiTableSortLabel-active {
        color: $point;
    }

    .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
        .MuiTableSortLabel-icon {
        color: $point;
    }

    // PAGE TEXT
    .MuiTablePagination-caption {
        color: $point;
    }

    span:hover {
        color: $point;
    }
}

.modal-content {
    width: 80% !important;
    min-width: 80% !important;
}
