@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

:root {
    --text-lightgray-color: #c8cad3;
    --point-color: #7d9edf;
    --point-hover-color: #efffe9;
    --text-gray-color: #252525;
    --text-white-color: #9298b1;
    --background-color: #1c1d20;
}

.App {
    background-color: var(--background-color);
    height: 100%;
    margin: 0 auto;
    font-family: "NanumSquare", sans-serif !important;
}

html,
body {
    background: var(--background-color);
    color: var(--text-lightgray-color);
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="password"] {
    font-family: sans-serif;
    font-size: 15px;
}

text {
    fill: #7d9edf !important;
    font-weight: normal;
    stroke: none !important;
}

.modal-body::-webkit-scrollbar {
    display: none;
}

.listview-title {
    width: 83%;
    display: flex;
    flex-direction: column;
}

.table-container {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    box-sizing: border-box;
    float: right;
    background: transparent !important;
}

.btn-primary,
.btn-secondary,
.btn-warning {
    border: none;
    background: #5f7fbe !important;
    color: #efffe9 !important;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-warning:hover {
    background: #7798db !important;
    color: #efffe9;
    border: none !important;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-warning:focus {
    background-color: #5f7fbe;
    border: 2px solid #5f7fbe;
    box-shadow: none !important;
    color: #efffe9 !important;
    border: none;
}

.btn-primary:active,
.btn-secondary:active,
.btn-warning:active {
    border: none;
    background: #647fb6 !important;
    outline: none;
}

.form-label {
    color: var(--point-color);
}

.form-control {
    background: transparent;
    border: 2px solid #252525;
    color: var(--text-lightgray-color);
    outline: none;
}

.form-control:focus {
    background: transparent;
    color: var(--text-white-color);
    outline: none;
}

.form-control:active {
    background: transparent;
    color: var(--text-white-color);
}

/* Dateil Page New/Delete Btn*/

.react-bs-table-add-btn {
    background: #436097;
    border: none;
    margin-bottom: 0.7rem;
}
.react-bs-table-add-btn:hover {
    background: #698fd4 !important;
}
.react-bs-table-add-btn:focus {
    background: #425d8f !important;
    box-shadow: none !important;
    color: #efffe9 !important;
    border: none;
}
.react-bs-table-add-btn:active {
    background: #5fa3be;
    outline: none;
    border: none;
    z-index: -1;
}

.react-bs-table-del-btn {
    margin-bottom: 0.7rem;
}
