@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.Visual {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #27262b;
    font-family: "NanumSquare", sans-serif;
}
.toolbut {
    text-align: right;
}
.toolbut button {
    margin: 2px;
}

.time {
    position: absolute;
    right: 40px;
    bottom: 20px;
}
.refresh {
    background: #ffc14d;
    color: #27262b;
    border: none;
    color: transparent;
    z-index: 999;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.4rem;
}

.refresh:hover {
    box-sizing: border-box;
    padding: 0;
    color: #fff;
}

.refresh .icon {
    font-size: 70px;
    padding: 0;
}

circle.node {
    cursor: pointer;
    stroke: #34495e;
    stroke-width: 2px;
    box-sizing: border-box;
    font-family: "NanumSquare", sans-serif;
}

line.link {
    fill: none;
    stroke: #34495e;
    stroke-width: 1.5px;
}
