.Menu{
    position: absolute;
    left:0;
    top:0;
    width:15%;
    height:100px;
    background-color: blue;
}
.clresource{
    position: absolute;
    left: 2%;
    width: 47%;
    margin-top: 10px;
    height: 80px;
    margin-bottom: 10px;
}
.budget{
    position: absolute;
    right: 2%;
    width: 47%;
    margin-top: 10px;
    height: 80px;
    margin-bottom: 10px;

}
